@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(../../public/fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
}

.text {
  font-family: 'Gilroy';
  font-size: 8rem;
  margin-left: 20px;
}